[package]
name = "frontend"
version = "0.1.0"
edition = "2021"


[dependencies]
leptos = { version = "0.4.8", features = ["csr", "nightly"] }
leptos-use = "0.6.3"
serde_json = "1.0.103"
reqwasm = "0.5.0"
