@tailwind base;
@tailwind components;
@tailwind utilities;

#banner i {
    vertical-align: middle;
    padding-right: 10px;
}

#banner a {
    color: #1976d2
}

#banner a:hover {
    text-decoration: underline;
}