@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1e1e1e
}

#banner i {
    vertical-align: middle;
    padding-right: 10px;
}

a {
    color: #3086de
}

a:hover {
    text-decoration: underline;
}